/* ===================
    ALL: Blue Theme
   =================== */

.header-container {
    border-bottom: 20px solid #74bff9;
}

.footer-container,
.main aside {
    border-top: 20px solid #74bff9;
}

.header-container,
.footer-container,
.main aside {
    background: #3d91e7;
}

.title {
    color: white;
}

#page .next i,
#page .previous i {
    color: #3d91e7;
}

#page a {
    color: #3d91e7;
}

#page a.actionLink:hover {
    color: #74bff9;
}

.info i,
.warning i {
    color: #74bff9;
}



/* ===================
    Sia Theme
   =================== */


p, li {
    text-align: justify;
}

a {
    text-decoration: none;
}

tt {
    font-size: .9em;
}

a:hover {
    text-decoration: underline;
}

#page .next {
    float: right;
}

#page a.actionLink {
    color: #ddd;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
}

#page a.actionLink:hover {
    text-decoration: none;
}

.info,
.warning {
    display: table;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-shadow: 1px 1px 5px;
    margin-bottom: 20px;
    width: 100%;
}

.info i,
.warning i {
    display: table-cell;
    vertical-align: top;
    padding: .35em;
    margin: 0!important;
}

.info p,
.warning p {
    font-style: italic;
    padding: 5px 20px 5px 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.info p tt,
.warning p tt {
    font-style: normal;
}

pre {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    font-size: .9em;
    line-height: 1.2em;
    background-color: #e4f0f9;
}

pre.shell {
    background-color: black;
    color: white;
}

#toc {
    font-size: .8em;
}

#toc a {
    color: white;
}

ul.toc-list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.3em;
}